<h1>Your Orders</h1>
<div id="general-orders-container">
    <div class="user-orders-container" *ngFor="let order of orders">
    <p id="restaurant-name">{{order.Restaurant.name}}</p>
    <p id="restaurant-address">Address: {{order.Restaurant.address}}</p>
    <p id="order-date">{{order.order_time | date:'M/d/yyyy'}}</p>
    <p id="order-status">Status: {{order.status}}</p>

    <p>Order Items</p>
    <div class="items-list">
        <div class="line-item" *ngFor="let item of order?.OrderItems">
        <span class="item-name">{{item.MenuItem.item_name}}</span>
        <span class="item-meta">${{item.MenuItem.item_price}} <span class="qty">x{{item.quantity}}</span></span>
        </div>
    </div>

    <div class="totals">
        <span class="label">Total (including taxes, fees, and tip):</span>
        <span class="amount">{{ getOrderTotal(order) || 0 }} $</span>
    </div>
    <!-- Rate Restaurant Link -->
    <a [routerLink]="['/menu', order.Restaurant.restaurant_id]" class="rate-btn">
  Rate Restaurant
    </a>

    </div>

</div>
