<main>
    <section class="dashboard-header">
        <div>
            <h1>Courier Dashboard</h1>
            <p>Manage your deliveries and availability</p>
        </div>
        <div class="availability-toggle">
            <label class="switch">
                <input type="checkbox" checked/>
                <span class="slider"></span>
            </label>
            <span class="status active">Available</span>
        </div>
    </section>

    <section class="tabs">
        <button class="tab active">Current Order</button>
        <button class="tab">Past Orders</button>
        <button class="tab">Navigation</button>
    </section>

    <section class="order-card">
        <div class="order header">
            <p>need to add the info about the order here</p>
            <!--need to add gets here to get the accepted order info and display it-->
        </div>

        <div class="message-customer">
        <label for="message">Message Customer</label>
        <textarea id="message" placeholder="Type a message to the customer..."></textarea>
        <button class="btn send-message">Send Message</button>
      </div>

      <button class="btn mark-delivered">Mark as Delivered</button>
    </section>



    
</main>
