@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';

html, body{
    background-color: blanchedalmond;
    font-family: "Space Grotesk", sans-serif;
}